* {
box-sizing: border-box;
}  

body {
margin: 0;
background-color: #95CDED;
color: #ffffff;
display: flex;
flex-wrap: wrap;
}

aside {
	width: 30%;
	margin: 0;
}

aside img  {
	width: 50%;
	opacity: 60%;
	 
}
aside img:hover {
	opacity: 100%;
}

article {
	display: flex;
	justify-content: center;
}

.wide-aside {
	display: flex;
	justify-content: center;
}

.projects{
	color:#ffffff;
	text-align: center;
}

nav {
	color: #ffffff;
	max-width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 10px;		
}

a {
	text-decoration: none;
	color: #211CF8;
}

nav a {
	border: 2px solid #ffffff;
	border-radius: 5px;
	padding: 3px;	
}

button{
	background-color: #95CDED;
	border: 2px solid #ffffff;
	border-radius: 5px;
	color: #211CF8;
}

.second-column {
	background color: #95CDED;
	color: #ffffff;
	width: 70%;	
}

header {
	display: flex;
	justify-content: flex-start;
	color: #ffffff;
}

main {
	background-color:#E7F3FF;
	color: #193189;
	margin: 60px auto;
	margin-right: 5%;
}

main h3 {
	margin-left: 10px;
}

main p {
	margin-left: 15px;
}

.journey {
	width: 100%;
	display: flex;
}

.journey p {
	margin-left: 35px;
}

.personal {
	width: 100%;
	display: flex;
	
}

.future {
	width: 100%;
	display: flex;
	
}

.future p {
	margin-left: 50px;
}

.narrow-nav {
	display: none;
}


footer {
	width: 100%;
	display:flex;
	justify-content: space-around;
	align-items: center;
}

.narrow-footer {
	display: none;
}

@media screen and (max-width: 900px) {
   
	  .wide-nav {
	    display: none;
	  }

	  .narrow-nav {
		display: flex;
		justify-content: flex-end;
		padding: 5px;
		
	  }
	  
	  aside img  {
	  	width: 80%;
	  } 
	  
	  .wide-footer {
		  display: none;
	  }
	  
	  .narrow-footer {
		display: flex;
		padding: 5px;
		
	  }
}